**/.idea/
.*
reactdashboard/nodeserver/node_modules
reactdashboard/tiny-tim/.env
reactdashboard/tiny-tim/node_modules
reactdashboard/mockserver/node_modules
reactdashboard/tiny-tim/node_modules_backup
reactdashboard/node_modules/
stormprocessor/logs/workers-artifacts/
*.class
stormprocessor/target/
reactdashboard/NodeJSServer/mockserver/node_modules/
.DS_Store
